/* Style the cards */
.card {
  width: 600px;
  padding: 16px;
  text-align: left;
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
  font-family: sans-serif;
}

.success-card {
  width: 94%;
  padding: 16px;
  text-align: left;
  border-radius: 10px;
  border: 0px solid rgb(206, 206, 206);
  font-family: sans-serif;
  background-color: #c0ffc9;
  color: #00680e;
}

#form {
  font-family: sans-serif;
  font-size: 16px;
}

.form-header {
  font-size: 24px;
  line-height: 24px;
  text-align: left;
}

#form-text {
  padding: 0px 0px 10px 0px;
  display: block;
}

#email {
  font-size: 16px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  display: block;
  width: 95%;
}

.error {
  color: red;
}

.card button.submit-button {
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  background-color: #06b362;
  color: #fff;
  border: 0px solid rgb(206, 206, 206);
}

/* To keep it sticked on the same place, its transition has to be configured this way. */
input[type="text"],
textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #dddddd;
}

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
